{% include "layout.html.twig" %}

{% block content %}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed temporibus quisquam vitae expedita quos sunt nihil saepe eum ex officia ullam impedit optio non provident quae numquam facere, error tenetur?</p>
{% endblock %}